*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}
body{
    background-color: #EEEEEE;
    margin:5% 10%;
    text-align: center;
}
#nav{
    background-color: #0E2954;
    border-radius: 5px;
}
#nav ul{
    display: flex;
    justify-content: space-around;
}
#nav ul li{
    list-style: none;
    font-size: 20px;
    padding: 18px;
    color: #525FE1;
    font-weight: 600;
    border-radius: 5px;
}
.active{
    background-color: #525FE1;
}
#nav ul li:hover{
    background-color: #525FE1;
    color: #fff;
}
#nav ul li a{
    color: white;
}
#time{
    background-color:#AFD3E2;
    padding: 2%;
    border-radius: 5px;
    box-shadow:3px 3px 5px #525FE1;
}
#time h1{
    padding: 20px;
}
.container-field{
    padding: 0 20%;
}
.input-group{
    padding: 2%;
    display: flex;
    justify-content:center;
}
.input-group div{
    padding-right: 10px;
}
.input-group input{
    border-radius: 4px;
    border: none;
    box-shadow: 1px 1px 1px black;
}
#fromUnit h4,#toUnit h4{
    text-shadow: 1px 1px 1px white;
}
#toUnit-div{
    padding-left: 20px;
}
.select-group{
    padding: 1%;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 1px black;
    
    margin-right: 20px;
}
#btnreset{
    background-color: #FFA41B;
    border:none;
    padding: 8px 25px;
    margin-right: 30px;
    box-shadow:1px 1px 1px #F86F03;
    font-weight: 600;
    cursor: pointer;
}
#btnreset:hover{
    transform: scale(1.05);
}
#btnCalculate{
    margin-left: 30px;
    background-color: #F6FA70;
    border: none;
    padding: 8px 16px;
    box-shadow:1px 1px 1px #C07F00;
    font-weight: 600;
    cursor: pointer;
    transform: scale(1.05);
}
#btnCalculate:hover{
    transform: scale(1.1);
}
#result-id{
    background-color:#AFD3E2;
    box-shadow:3px 3px 5px #525FE1;
    height: 100px;
    margin-top: 10%;
    text-align: center;
    line-height: 100px;
    visibility: hidden;
}
